body {
    font-family: Arial, sans-serif;
    background-color: #12343b; /* خلفية بيضاء شبه شفافة */
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column; /* لجعل الهيدر والكاردين في عمود */
    align-items: center; /* محاذاة العناصر في المنتصف */

}

   
.navbar{
       display: flex;
      justify-content: space-between;
      align-items: center;

}
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0px;
    margin: 0px;
  
  }
 
h2{
    margin: 0px;
    font-size: 24px;
}



.header {
    background-color: #532f3b; /* لون الخلفية للهيدر */
    color: white; /* لون النص */
    width: 100%; /* عرض الهيدر بالكامل */
    padding: 20px 10px; /* مساحة داخلية للهيدر */
    text-align: be; /* محاذاة النص في المنتصف */
    margin: auto;
}

.card-container {
    display: flex; /* جعل الكاردين بجانب بعض */
    justify-content: center; /* محاذاة الكاردين في المنتصف */
    margin-top: 50px; /* مسافة فوق الكاردين */
}

.card {
    background: white;
    border-radius: 20px; /* زوايا أكثر احترافية */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* ظلال أكثر وضوحاً */
    padding: 20px;
    width: 300px;
    text-align: center;
    opacity: 0.95; /* لجعل الكارد شفاف قليلاً */
    margin: 0 10px; /* مسافة بين الكاردين */
    border: 2px solid #583134; /* لون بوردار */
}

.card img {
    width: 100%;
    border-radius: 15px; /* زوايا مائلة للصورة */
    margin-bottom: 15px; /* مسافة أسفل الصورة */
}

.price {
    color: rgb(202, 45, 45);
    font-size: 24px;
    margin: 10px 0;
}

.size-selector {
    margin: 10px 0;
}

.size-selector select {
    padding: 5px;
}

.add-to-cart {
    background-color: #532f3b;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s; /* تأثير انتقال عند تغيير اللون */
    text-align: center;
}

.add-to-cart:hover {
    background-color: #7e4c5a; /* تغيير اللون عند التحويم */
    text-align: center;
}